<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="MBOnlineShopWorklow.MercedesBenz.ExtentReport"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="MBOnlineShopWorklow.MercedesBenz.Base"/>
      <class name="MBOnlineShopWorklow.MercedesBenz.OrderWorkflowTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
